.b-app {
  text-align: center;
}

.b-app-header {
  height: 6rem;
  padding: 1rem;
  color: white;
}

.b-app-header--title {
  font-size: 3rem;
  padding-top: 1rem;
}

.b-app-body {
  margin: 3rem 0;
}
