.b-app {
  padding: 1rem;
  text-align: left;
}

.b-app-header {
  height: 10vh;
  font-family: 'Cairo', sans-serif;
  padding: 2.5rem;
  color: #0d454d;
}

.b-app-header--title {
  font-size: 4rem;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.b-app-body {
  margin: 2.5rem 0;
}
