.b-app {
  padding: 1rem;
  text-align: left;
}

.b-app-header {
  height: 10vh;
  font-family: "Cairo", sans-serif;
  padding: 3rem;
  color: #0d454d;
}

.b-app-header--title {
  font-size: 5rem;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.b-app-body {
  margin: 3rem 0 !important;
  display: grid !important;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

.b-app-body-player {
  padding: 1rem 4rem;
}

.b-app-body-table {
  padding: 1rem 4rem;
}
