.b-volume-bar-container {
  display: inline;
}

.b-volume-bar-background {
  min-width: 0 !important;
  position: relative;
  display: block;
  max-width: 15%;
  border: none;
  box-shadow: none;
  background: rgba(0, 0, 0, 0.1);
  padding: 0;
  font-size: 0.92857143rem;
  border-radius: 0.28571429rem;
  margin: 0 0 2em 2em;
  transform: translate(0, 0.5em);
  cursor: pointer;
}

.b-volume-bar-filled {
  background-color: #2185d0;
  display: block;
  height: 0.75em;
  line-height: 1;
  max-width: 100%;
  position: relative;
  border-radius: 0.28571429rem;
  transition: width 0.15s ease, background-color 0.15s ease;
  z-index: 10;
  top: 0;
  left: 0;
}

.b-volume-bar-label {
  text-align: right !important;
  position: absolute;
  width: 100%;
  font-size: 1em;
  top: 100%;
  right: auto;
  left: 0;
  bottom: auto;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 700;
  text-shadow: none;
  margin-top: 0.2em;
  text-align: center;
  transition: color 0.4s ease;
}

.b-volume-bar-icon {
  float: left;
  margin: 0 0 3em;
  cursor: pointer;
}
